.container {
    min-height: 100vh;
    height: 100%;
    background-color: rgb(61, 58, 58);
}

header h1 {
    color: whitesmoke;
    margin: 5rem 0;
    font-size: 3rem;
    font-weight: 900;
}

form {
    position: relative;
}

form .search {
    display: flex;
}

form button,
form input {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: whitesmoke;
    outline: none;
}

header,
form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form input {
    width: 90%;
    margin-left: 0.5rem;
}

form button {
    margin-right: 0.5rem;
    color: black;
    background-color: darkorange;
    cursor: pointer;
    transition: all 0.8s ease;
}

form button:hover {
    color: darkorange;
    background-color: black;
    transition: all 1s ease-out;
}

.select {
    position: relative;
    margin: 1rem;
    overflow: hidden;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    color: steelblue;
    padding: 1rem;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.8s ease;
}

.select:hover::after {
    background-color: black;
    color: darkorange;
    transition: all 0.8s ease;
}

select {
    width: 10rem;
    padding: 1rem;
    cursor: pointer;
    color: steelblue;
    border: none;
    appearance: none;
    outline: none;
}

.todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list {
    list-style: none;
    min-width: 30%;
}

.todo {
    width: 96%;
    margin: 0.5rem;
    background-color: whitesmoke;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease;
}

.todo li {
    width: 100%;
    padding: 0 0.8rem;
}

.complate-btn,
.trash-btn {
    background-color: black;
    color: darkorange;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complate-btn {
    color: green;
}

.complated {
    opacity: 0.5;
    text-decoration: line-through;
}

.alert-wrapper {
    position: absolute;
    right: 10px;
}

.alert-succsess,
.alert-warning {
    padding: 1rem;
    color: whitesmoke;
    font-weight: bold;
    width: 25rem;
    text-align: center;
    border-radius: 40px;
}

.alert-succsess {
    background-color: blueviolet;
    transition: 0.5s all ease;
}

.alert-warning {
    background-color: brown;
    transition: 0.5s all ease;
}

@media only screen and (max-width: 500px) {
    .todo {
        width: 100%;
        font-size: 0.6rem;
    }
}
